@import "colors.css";

* {
  all: unset;
}

window {
  font-family: Inter;
}

#entry {
  background-color: @background;
  color: @primary;
  font-size: 1.7rem;
  font-weight: 500;
  padding: 1rem;
  border-radius: 0.6rem;
}

#main {
  background: @on_primary;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border-radius: 0.8rem;
}

#match {
  padding: 0.3rem 0.2rem;
  border-radius: 0.8rem;
}

#match:selected {
  background: @source_color;
  color: @on_primary;
}
