@import "colors.css";

* {
  all: unset;
  font-size: 1.3rem;
}

#plugin,
#main {
  background: @window_bg_color;
}

#window {
  background: transparent;
}

#match.activatable {
  padding: 0.3rem 0.9rem;
  margin-top: 0.01rem;
}
#match.activatable:first-child {
  margin-top: 0.7rem;
}
#match.activatable:last-child {
  margin-bottom: 0.6rem;
}

#plugin:hover #match.activatable {
  padding: 0.3rem;
  margin-top: 0.01rem;
  margin-bottom: 0;
}

#match:selected,
#match:hover,
#plugin:hover {
  background: #2e3131;
  border-radius: 0.4rem;
}

#entry {
  background: @window_bg_color;
  margin: 0.5rem;
  padding: 0.3rem 1rem;
}

list > #plugin {
  margin: 0 0.3rem;
}
list > #plugin:first-child {
  margin-top: 0.3rem;
}
list > #plugin:last-child {
  margin-bottom: 0.3rem;
}
list > #plugin:hover {
  padding: 0.6rem;
}

box#main {
  background: @headerbar_bg_color;
  border: 2px solid @accent_bg_color;
  padding: 0.3rem;
  border-radius: 1rem;
}
